
<!-- 
  <div class="box" >
    User Name : <strong>{{userName}}</strong>
    <br>
    <input type="text"  placeholder="Update name" #uname>
    
    <button class="btn btn-primary" (click)="updateUserName(uname)">Update</button>
</div> -->

<!-- /////////////////////////////////////////////////////////////////////////////// -->

<div class="card" style="width: 10rem;">
  <img src="../../assets/Developer.png" class="card-img-top" alt="...">
  <div class="card-body">
    User Name : <strong>{{userName}}</strong>
    <br>
    <!-- <h5 class="card-title">Card title</h5> -->
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    <!-- <a href="logout()" class="btn btn-primary">Go somewhere</a> -->
    <button type="submit" (click)="logout()" class="btn btn-primary" id="log">Logout</button>

    
  </div>

</div>

 