
<button class="btn btn-primary" (click)="GetMarketData()">GetMarketData</button> <br> <br>

<button class="btn btn-primary" (click)="getMovers()">GetMovers</button>


<!-- <h3 class="text-center">The Cocktail DB</h3>
<div class="row justify-content-center" id="main">
    <div class="col-md-11 text-left rounded shadow">
     
            <table class="table  border-info table-bordered mt-4 ms-2 me-2 bg-transparent table-striped ">
            
                
                <thead class="table-warning">
                    <tr>
                        <th class="text-center "scope="col">
                           ID
                        </th>
                        <th  class="text-center "scope="col">
                            Title
                        </th>
                        <th  class="text-center "scope="col">
                            Difficulty
                        </th>
                        <th  class="text-center "scope="col">
                            Image
                            
                        </th>
                       
                      
                    </tr>
                </thead>
                <tbody class="table border-info bg-transparent">
                    <tr *ngFor="let key of list">
                        <td class="text-center table-primary" >{{key.id}}</td>
                        <td class="text-center table-success ">{{key.title}}</td>
                        <td class="text-center table-danger">{{key.difficulty}}</td>
                       
                        <td class="text-center table-info" ><img src="{{key.image}}" style="height:100px;width:200px" /></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->



