table,
tr,
th,
td {
  border: 2px solid rgb(248, 5, 45);
  border-collapse: collapse;
  color: black;
  
}
table{
    background-color: rgb(247, 6, 6);
}
body{
  background-color: crimson;
}
table {
  /* margin-left: 850px; */
  width: 80%;
}
#main{
  margin-left: 250px;
}