<p>todo works!</p>
<!-- <div class="form-group" formArrayName="skills">
    <label> Skills</label>
<ng-container *ngFor="let skill of myForm.get('skills').controls; index as i">
    <input type="text" class="form-control" formControlName="{{i}}"  placeholder="Add skills">
</ng-container>
<button class="btn btn-light btn-sm mt-4 btn-add" (click)="OnAddSkills()"><i>+</i> Add Skills</button>
<button class="btn btn-light btn-sm mt-4 btn-add" (click)="OndeleteSkills(index)"><i>+</i> Delete Skills</button>                
</div> -->



<div class="container">
    <table class="table">
    <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <tr *ngFor="let todo of todoList">
    <td>{{todo.id}}</td>
    <td>{{todo.title}}</td>
    <!-- <td> <input type="text"value="{{todo.title}}" ></td> -->
    <td>
        <button type="button" class="btn btn-link"(click)="edit()" >Edit</button>
    <button  *ngIf="isDisabled" type="button" class="btn btn-link"(click)="update(todo)" >Update</button>
    <small *ngIf="isDisabled"> <input type="text"  [(ngModel)]="editdata"></small>
     <!-- <input type="text"value="{{todo.title}}"  [(ngModel)]="edit"> -->
    <button type="button" class="btn btn-link text-danger" (click)="deleteTodo(todo.id)" >Delete</button>
    </td>
    </tr>
    </tbody>
    </table>
    <button class="btn btn-success" (click)="createTodo()">Create
    Todo</button>
    </div>